
/*Parametros generales*/
html{
margin: 0;
padding: 0;
width: 100%;
height: 100%;

}

body{
background-color: #111;
margin: 0;
padding: 0;
width: 100%;
height: 100%;
overflow: hidden;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
}



/*Contenedores*/
.contenedor{
    width: 100%;
    height: 100%;
    margin: auto;
    background:url('./img/background-main.jpg') no-repeat 50% 50%;
    display: table;
    top: 0;
    background-size: cover;
}

.contenedor .inner {
display: table-cell;
vertical-align: middle;
width: 100%;
max-width: none;
}

.content-contenedor{
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}



.contenedor-50{
    width:100%;
    height: 100%;
    margin: auto;
    display: table;
    top: 0;
    background-size: cover;
}

.contenedor-50 .inner-50 {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    max-width: none;
}



 .content-50{
    max-width: 500px;
     margin: 0 auto;
    text-align: center;
}



#element1 {
    background:url('./img/background-main.jpg') no-repeat 50% 50%;
}
#element2 {
    background: pink;
  
}
#element3 {
    background: brown;
}
#element4 {
    background: palegreen;
}

.button {
    background-color: rgb(170, 49, 75);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }


